<link rel="stylesheet" href="style.css">
<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title">Alec</h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>Engineer</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: 2</li>
            <li class="list-group-item">Email: <a href="mailto:alec@fakemail.com">mailto:alec@fakemail.com </a></li>
            <li class="list-group-item">GitHub: <a href="https://github.com/alec" target="_gitusername"
                    rel="noopener noreferrer"> https://github.com/alec</a></li>
        </ul>
    </div>
</div>